---
import Layout from "../layouts/Layout.astro";

import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Your Name | Portfolio">

  <Navbar />

  <main class="max-w-6xl mx-auto px-6">

    <Hero />

    <Projects />

  </main>

  <Footer />

</Layout>